.hidden {
    display: none;
}

.show {
    display: block;
}

.invalid {
    border: .2em red solid;

}

#loading {
    background: url('loadingGif2.gif') center center;
    position: absolute;
    top: -20px;
    left: -20px;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}